# Merging all the old stations and new stations list

In [1]:
#importing pandas library
import pandas as pd

In [2]:
#reading latest station data into df
df = pd.read_csv('./Latest_stations_coordinates_data/Divvy_Bicycle_Stations_Latest.csv')

In [3]:
#reading all old stations data into respective dataframes
df1 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2014-Q3Q4.csv')
df2 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2015.csv')
df3 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2016_Q1Q2.csv')
df4 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2016_Q3.csv')
df5 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2016_Q4.csv')
df6 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2017_Q1Q2.csv')
df7 = pd.read_csv('./Old_stations_coordinates_data/Divvy_Stations_2017_Q3Q4.csv')

In [4]:
#printing latest stations head.(Also to check column names)
df.head()

,ID,Station Name,Total Docks,Docks in Service,Status,Latitude,Longitude,Location
0,186,Ogden Ave & Race Ave,15,15,In Service,41.891795,-87.658751,"(41.891795, -87.658751)"
1,184,State St & 35th St,19,19,In Service,41.831036,-87.626798,"(41.8310363140161, -87.62679755687714)"
2,176,Clark St & Elm St,39,39,In Service,41.902973,-87.631280,"(41.902973, -87.63128)"
3,648,Carpenter St & 63rd St,7,7,In Service,41.779870,-87.650919,"(41.77987, -87.650919)"
4,658,Leavitt St & Division St,15,15,In Service,41.902997,-87.683825,"(41.902997, -87.683825)"

In [5]:
#printing one of the old stations head.(Also to check column names)
df1.head()

,id,name,latitude,longitude,dpcapacity,dateCreated
0,5,State St & Harrison St,41.873958,-87.627739,19,6/10/2013 10:46
1,13,Wilton Ave & Diversey Pkwy,41.932500,-87.652681,19,6/22/2013 18:29
2,14,Morgan St & 18th St,41.858086,-87.651073,15,6/22/2013 18:33
3,15,Racine Ave & 19th St,41.856453,-87.656471,15,6/22/2013 18:35
4,16,Wood St & North Ave,41.910329,-87.672516,15,6/22/2013 18:55

### Renaming every dataframe's {Station Name, Latitute, Longitude} columns to merge into one single dataframe

#### Also deleting all other columns in all dataframes except the three columns above

In [6]:
df = df[['Station Name', 'Latitude', 'Longitude']]
df = df.rename(columns={"Station Name": "Station"})

In [7]:
df1 = df1.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df1 = df1[['Station', 'Latitude', 'Longitude']]

In [8]:
df2 = df2.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df2 = df2[['Station', 'Latitude', 'Longitude']]

In [9]:
df3 = df3.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df3 = df3[['Station', 'Latitude', 'Longitude']]

In [10]:
df4 = df4.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df4 = df4[['Station', 'Latitude', 'Longitude']]

In [11]:
df5 = df5.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df5 = df5[['Station', 'Latitude', 'Longitude']]

In [12]:
df6 = df6.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df6 = df6[['Station', 'Latitude', 'Longitude']]

In [13]:
df7 = df7.rename(columns={"name": "Station", "latitude" : "Latitude", "longitude" : "Longitude"})
df7 = df7[['Station', 'Latitude', 'Longitude']]

### Merging each individual old dataframe into the latest dataframe

#### Only adding the stations from Old to Latest dataframe which are not present in the latest list

In [14]:
final = pd.concat([df, df1[~df1['Station'].isin(df['Station'].to_list())]])

In [15]:
final = pd.concat([final, df2[~df2['Station'].isin(final['Station'].to_list())]])

In [16]:
final = pd.concat([final, df3[~df3['Station'].isin(final['Station'].to_list())]])

In [17]:
final = pd.concat([final, df4[~df4['Station'].isin(final['Station'].to_list())]])

In [18]:
final = pd.concat([final, df5[~df5['Station'].isin(final['Station'].to_list())]])

In [19]:
final = pd.concat([final, df6[~df6['Station'].isin(final['Station'].to_list())]])

In [20]:
final = pd.concat([final, df7[~df7['Station'].isin(final['Station'].to_list())]])

In [21]:
final

                               Station   Latitude  Longitude
0                 Ogden Ave & Race Ave  41.891795 -87.658751
1                   State St & 35th St  41.831036 -87.626798
2                    Clark St & Elm St  41.902973 -87.631280
3               Carpenter St & 63rd St  41.779870 -87.650919
4             Leavitt St & Division St  41.902997 -87.683825
..                                 ...        ...        ...
401      Washtenaw Ave & Ogden Ave (*)  41.861894 -87.693511
533    Eberhart (Vernon) Ave & 79th St  41.751345 -87.612568
572  Wisconsin Ave & Madison St (Temp)  41.879902 -87.803911
582     Dearborn St & Van Buren St (*)  41.876268 -87.629155
583          Chicago Ave & Dempster St  42.041691 -87.680687

[957 rows x 3 columns]

In [22]:
final.to_csv('final_stations.csv')